[package]
name = "arborio"
version = "0.1.0"
authors = ["Audrey Dutcher <audrey@rhelmot.io>", "Skye Jensen <me@skye-c.at>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
array-init = "^2.0"
celeste = "^2"
rand = "^0.8"
byteorder = "^1.4"
serde = { version = "^1.0", features = ["derive" ] }
serde-xml-rs = "^0.4"
confy = "^0.4"
lazy_static = "^1.4"
serde_yaml = "^0.8"
nom = "^6.2"
include_dir = "^0.6"
#vizia = { path = "../../rust/VIZIA" }
vizia = {git = "https://github.com/rhelmot/VIZIA", rev = "5012b5407ed3bf027e26bcaf276a295a9bff2b81"}
femtovg = {git = "https://github.com/rhelmot/femtovg", rev = "4caba90e08e8eacf66dce2125393334a9cee22d1", default-features = false} # not really a dependency, since vizia depends on it
imgref = "^1.9"  # not really a dependency either
rgb = "^0.8"  # not really a dependency either
dialog = "^0.3"
euclid = "^0.22"
Inflector = "^0.11"
itertools = "^0.10"
enum-iterator = "^0.7"
num-traits = "^0.2" # not really a dependency either
walkdir = "^2"
zip = "^0.5"

[profile.dev.package.vizia_core]
opt-level = 2
[profile.dev.package.femtovg]
opt-level = 2
