[package]
name = "arborio"
version = "0.1.0"
authors = ["Audrey Dutcher <audrey@rhelmot.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
celeste = "^2"
fltk = { version = "1.0.9", git = "https://github.com/fltk-rs/fltk-rs" }
rand = "^0.8"
byteorder = "1.4.3"