[package]
name = "arborio"
version = "0.1.0"
authors = ["Audrey Dutcher <audrey@rhelmot.io>", "Skye Jensen <me@skye.cat>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
array-init = "^2.0"
celeste = "^2"
fltk = "^1.0"
rand = "^0.8"
byteorder = "^1.4"
serde = { version = "^1.0", features = ["derive" ] }
serde-xml-rs = "^0.4"
confy = "^0.4"
lazy_static = "^1.4"