.main {
    height: 100%;
}

.menu_bar {
    height: auto;
}

button.btn_item {
    border-radius: 0;
    background-color: #ffe4c4;
    border-width: 1px;
    border-color: black;
    width: 1s;
}

button.btn_item label {
    color: black;
}

button.btn_item:over {
    background-color: #ffe4c4;
}

button.btn_item:checked {
    background-color: #c0c4c4;
}

hstack {
    child-space: 0;
}
vstack {
    child-space: 0;
}

palette>list {
    width: 1s;
}

.palette_item {
    color: black;
}

.palette_item:checked {
    background-color: #101040;
    color: white;
}

.palette_item label {
    height: 20px;
    width: 1s;
    font-size: 15px;
    child-left: 3px;
}

.tab_bar {
    height: auto;
    layout-type: row;
}

.tab {
    background-color: #ffe4c4;
    border-radius: 2px;
    color: black;
    child-left: 3px;
    child-right: 3px;
    child-top: 1s;
    child-bottom: 1s;
    height: 30px;
    border-color: #333333;
    border-width: 1px;
}

.tab:checked {
    background-color: #c0c4c4;
    border-width: 3px;
    border-color: black;
}

.close_btn {
    background-color: #ffc0c0;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    color: black;

    right: 10px;
}

.close_btn:over {
    background-color: #c0c0f0;
}

.tab_container {
    height: 1s;
    width: 1s;
}

.progress_bar {
    color: white;
    background-color: #209020;
    overflow: hidden;
    left: 0;
    child-left: 10px;
}

.progress_bar_bg {
    color: black;
    background-color: white;
    left: 0;
    child-left: 10px;
}

.map_overview_card {
    width: 100%;
    child-space: 10px;
}

.map_title {
    font-size: 20px;
}

.map_overview_card:over {
    background-color: #c0c0f0;
}

.module_overview_card {
    width: 100%;
    child-space: 5px;
}

.module_title {
    font-size: 20px;
}

.module_overview_card:over {
    background-color: #c0c0f0;
}

tweaker label {
    left: 3px;
    right: 3px;
    top: 1s;
    bottom: 1s;
}

tweaker textbox {
    width: 1s;
}

/*
* {
    border-color: red;
    border-width: 1px;
}
*/
