/* main layout */

#main {
    height: 100%;
    background-color: #343a45;
    color: #dddddd;
    selection-color: #00000000;
    caret-color: #00000000;
}

#menu_bar {
    height: auto;
    width: 100%;
}

menucontroller {
    width: 100%;
    font-size: 14px;
}

menustack {
    background-color: #444449;
    width: 1s;
}

menu {
    child-space: 5px;
    width: auto;
}

menu:over {
    background-color: #4080c0;
}

menustack.vertical {
    child-space: 3px;
    border-color: #555555;
    border-width: 1px;
}

menustack.vertical menu {
    child-left: 15px;
}

menubutton {
    child-space: 5px;
    child-left: 15px;
}

menubutton:over {
    background-color: #4080c0;
}

.tab_bar {
    height: auto;
    layout-type: row;
    width: 100%;
    min-width: 0;
}

.tab {
    background-color: #44516e;
    child-left: 3px;
    child-right: 3px;
    child-top: 1s;
    child-bottom: 1s;
    height: 30px;
    width: auto;
    font-size: 15px;
}

.tab:checked {
    background-color: #41557e;
}

.tab_highlight {
    position-type: self-directed;
    display: none;
    background-color: #4080c0;
    top: 1s;
    bottom: 0;
    height: 3px;
    left: 0;
    width: 1s;
    right: 0;
}

.tab:checked .tab_highlight {
    display: flex;
}

.tab_container {
    height: 1s;
    width: 1s;
}

#progress_bar_container {
    height: 22px;
}

#progress_bar {
    color: white;
    background-color: #209020;
    overflow: hidden;
    left: 0;
    child-left: 10px;
    min-width: 0;
    text-wrap: false;
}

#progress_bar_bg {
    left: 0;
    child-left: 10px;
    text-wrap: false;
}

#error_message_bar {
    height: 22px;
    color: white;
    background-color: red;
    child-left: 10px;
    width: 100%;
}


/* installation tab */

.module_category {
    top: 20px;
    font: "roboto-bold";
    color: white;
    left: 35px;
}

.module_title {
    font-size: 20px;
}

.module_overview_card {
    width: 100%;
    child-space: 5px;
    child-left: 40px;
}

#new_mod_button {
    child-left: 20px;
    height: 50px;
}

#new_mod_text {
    left: 10px;
    top: 1s;
    bottom: 1s;
}

.btn_highlight .big_plus {
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: #40a080;
    border-radius: 4px;
    child-space: 1s;
    top: 1s;
    bottom: 1s;
}

.btn_highlight:over .big_plus {
    background-color: #40c080;
}


/* project tab */

.title {
    font-size: 40px;
}

#maps_container {
    top: 30px;
    height: auto;
}

.map_overview_card {
    width: 100%;
    child-space: 10px;
    child-left: 40px;
    height: auto;
}

.map_title {
    font-size: 20px;
}

.btn_highlight.pencil_icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    child-space: 1s;
}

.pencilable hstack {
    width: auto;
}
.pencilable label {
    width: auto;
}
.pencilable {
    width: auto;
}
.pencilable textbox {
    width: 300px;
}
.project_name .pencilable_label {
    font-size: 40px;
}

/* editor */

arborio_editor {
    overflow: hidden;
}

#left_bar {
    width: auto;
}

#right_bar {
    width: 200px;
}

palette {
    width: 100%;
}

palette list {
    min-width: 100%;
}

.palette_item label {
    height: 20px;
    min-width: 100%;
    font-size: 15px;
    child-left: 3px;
}

.tweaker {
    height: 1s;
}

.tweaker>scrollview {
    height: 1s;
}

.tweaker hstack {
    height: auto;
}

.tweaker list {
    width: 1s;
}

.tweaker textbox {
    width: 1s;
    top: 1s;
    bottom: 1s
}

.tweaker checkbox {
    top: 5px;
    bottom: 5px;
}

.tweaker dropdown {
    font-size: 15px;
}

.tweaker_container {
    right: 14px;
    left: 3px;
    top: 3px;
    row-between: 3px;
}

.tweaker_container>hstack {
    col-between: 3px;
}

style_list {
    height: 150px;
}

style_list list {
    min-width: 100%;
}

#layer_picker {
    height: auto;
}

/* config editor */

.config_search_settings {
    height: auto;
}

.config_search_settings textbox {
    width: 1s;
}

.config_editor_toolbar {
    height: auto;
}

.config_editor_box {
    width: 1s;
    height: 1s;
    min-height: 50px;
}

/* logs */

.log_entry {
    child-top: 2px;
    child-bottom: 2px;
    child-left: 10px;
    child-right: 10px;
    col-between: 10px;
}

.log_entry .log_text {
}

.log_entry .log_icon {
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    color: black;
    child-space: 1s;
    font-size: 10px;
}

.log_entry.error .log_icon {
    background-color: #ff8888;
}
.log_entry.warning .log_icon {
    background-color: #ffff88;
}
.log_entry.info .log_icon {
    background-color: #8888ff;
}
.log_entry.debug .log_icon {
    background-color: #88ff88;
}
.log_entry.trace .log_icon {
    background-color: #cccccc;
}

/* controls */

checkbox {
    width: 22px;
    height: 22px;
    min-height: 0px;
    border-radius: 3px;
    border-width: 2px;
    border-color: #888888;
    child-space: 1s;
    space: 2px;
}

radiobutton {
    width: 18px;
    height: 18px;
    border-width: 1px;
    border-radius: 50%;
    border-color: #888888;
    background-color: white;
    child-space: 1s;
    space: 2px;
}

radiobutton:checked {
    border-color: #ef6308;
    background-color: #ef6308;
}

radiobutton .inner {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

radiobutton:checked .inner {
    display: flex;
}

textbox {
    min-width: 18px;
    min-height: auto;
    height: 28px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #888888;
    child-top: 2px;
    child-bottom: 2px;
    child-left: 5px;
    child-right: 5px;
}

textbox:checked {
    border-color: #4080c0;
    caret-color: #dddddd;
    selection-color: #a44301;
}

label {
    caret-color: #dddddd;
    selection-color: #a44301;
}

.close_btn {
    background-color: #ffc0c0;
    font-size: 12px;
    color: black;
    child-left: 1s;
    child-right: 1s;
    min-height: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.close_btn:over {
    background-color: #c0c0f0;
}

.remove_btn {
    font-size: 12px;
    border-radius: 50%;
    color: black;
    child-space: 1s;
    width: 14px;
    height: 14px;
    min-height: 0;
    background-color: #c0a0a0;
    top: 1s;
    bottom: 1s;
}

.remove_btn:over {
    background-color: #a08040;
}

.add_btn {
    font-size: 12px;
    border-radius: 50%;
    color: black;
    child-space: 1s;
    width: 14px;
    height: 14px;
    min-height: 0;
    background-color: #a0c0a0;
    top: 1s;
    bottom: 1s;
}

.add_btn:over {
    background-color: #40a080;
}

scrollbar {
    background-color: #c0c0c000;
    width: 10px;
}

scrollbar:over {
    background-color: #c0c0c080;
}

scrollview>scrollbar.horizontal {
    height: 10px;
}

scrollview>scrollbar.vertical {
    width: 10px;
}

scrollbar>.thumb {
    border-radius: 4px;
}

scrollbar.horizontal>.thumb {
    top: 1px;
    height: 8px;
}

scrollbar.vertical>.thumb {
    left: 1px;
    width: 8px;
}

hstack {
    child-space: 0;
    overflow: visible;
}

vstack {
    child-space: 0;
    overflow: visible;
}

.validation_error {
    background-color: #402020;
    border-color: red;
}

dropdown {
    overflow: visible;
}

dropdown button.title {
    width: 100%;
}

dropdown popup {
    background-color: #343a45;
    border-color: #888888;
    border-width: 1px;
    child-space: 3px;
    height: auto;
}

.dropdown_element {
    child-left: 3px;
}

.dropdown_icon {
    top: 1s;
    bottom: 1s;
    left: 3px;
}

button {
    width: auto;
    height: auto;
    background-color: #464f5d;
    border-width: 1px;
    border-radius: 3px;
    border-color: #888888;
    outer-shadow: 0 3 3 #ffffff;
    child-top: 2px;
    child-bottom: 2px;
    child-left: 5px;
    child-right: 5px;
}

button:over {
    background-color: #4f5862;
}

.btn_highlight {
    width: 1s;
    min-width: auto;
}

.btn_highlight:over {
    background-color: #414f69;
}

.list_highlight {
    height: auto;
}

.list_highlight:checked {
    background-color: #101040;
    color: white;
    width: 1s;
}

/*
* {
    border-color: red;
    border-width: 1px;
}
*/
